<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grecha</title>
    <link rel="stylesheet" href="~/libs/bootstrap/bootstrap.min.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<body>
<div id="bg-blackout">
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div class="navbar navbar-expand navbar-dark bg-primary d-flex justify-content-center fixed-top row align-items-center">
    <div class="col-2">
        <i class="fa fa-bars fa-2x" aria-hidden="true" onclick="openNav()"></i>
    </div>
    <div class="col-8 text-center">
        <h1 class="text-white mb-0" href="#">Grecha</h1>
    </div>
    <div class="col-2"></div>
</div>

<div class="bg-white">
    <div class="container-lg bg-light" style="padding-top: 105px;">
        @RenderBody()
    </div>
</div>
<script src="~/libs/jquery/jquery.min.js"></script>
<script src="~/libs/bootstrap/bootstrap.bundle.min.js"></script>
<script src="https://use.fontawesome.com/a8cab3c6a3.js"></script>
<script src="~/js/JavaScript.js"></script>
</body>
</html>
