<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grecha</title>
    <link rel="stylesheet" href="~/libs/bootstrap/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary d-flex justify-content-center">
    <h1 class="text-white" href="#">Grecha</h1>
</nav>
<div class="bg-white">
    <div class="container bg-light mt-2">
        @RenderBody()
    </div>
</div>
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
