@* Breadcrumb *@
<div>
    <ol class="breadcrumb mb-0 pb-2">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
    <hr class="mt-0" />
</div>
@* Product List *@
<div class="">
    <div class="text-center">
        <h2>Products</h2>
    </div>
    @* Filter *@
    <div class="d-flex justify-content-end align-items-center mb-md-2 mb-1">
        <i class="fa fa-filter fa-3x mr-1" aria-hidden="true"></i>
        <div class="form-group mb-0">
            <select class="custom-select">
                <option selected="">Order by...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    @* Products *@
    <div class="d-flex flex-wrap justify-content-around">
        <div class="card border-secondary mb-3 col-10 col-xl-4 col-md-6 col-lg-4" style="max-width: 19rem;">
            @*<div class="card-header">Header</div>*@
            <div class="card-body">
                <div class="text-center img-thumbnail d-flex align-items-center justify-content-center mb-2" style="height: 245px;">
                    <img src="https://polezzno.com/image/cache/data/krupa%20semena/zelenaya_grechka_300g_kz-600x600.jpg" class="img-fluid mb-1" alt="Alternate Text" style="max-height: 240px;" />
                </div>
                <h4 class="card-title">ЗЕЛЕНАЯ ГРЕЧКА</h4>
                <p class="card-text">
                    <span class="font-weight-bold">Manufacturer:</span> POLEZZNO
                    <br />
                    <span class="font-weight-bold">Weight:</span> 800g
                </p>
                <div class="text-center">
                    <h5>$ 48.0</h5>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3 col-10 col-xl-4 col-md-6 col-lg-4" style="max-width: 19rem;">
            <div class="card-body">
                <div class="text-center img-thumbnail d-flex align-items-center justify-content-center mb-2" style="height: 245px;">
                    <img src="https://images.wbstatic.net/c516x688/new/12150000/12150159-1.jpg" class="img-fluid mb-1" alt="Alternate Text" style="max-height: 240px;" />
                </div>
                <h4 class="card-title">ГРЕЧКА ЗЕЛЕНА</h4>
                <p class="card-text">
                    <span class="font-weight-bold">Manufacturer:</span> ALTAY GOLD
                    <br />
                    <span class="font-weight-bold">Weight:</span> 500g
                </p>
                <div class="text-center">
                    <h5>$ 36.0</h5>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3 col-10 col-xl-4 col-md-6 col-lg-4" style="max-width: 19rem;">
            <div class="card-body">
                <div class="text-center img-thumbnail d-flex align-items-center justify-content-center mb-2" style="height: 245px;">
                    <img src="https://lh3.googleusercontent.com/proxy/cSnsR7KGcd-6t05deao7ZT-EjJKMU6jVok4PqHm8C0XQdbzlMQlC4HBTNpsYc8fgLoe26h3csI-RjN2vOLQZdYQhVjx5mrRI0qfspnDmyfX2KTQaEsbVChkoJb4GJbSjCYniVo592oMJf3E2" class="img-fluid mb-1" alt="Alternate Text" style="max-height: 240px;" />
                </div>
                <h4 class="card-title">КРУПА ГРЕЧАНА</h4>
                <p class="card-text">
                    <span class="font-weight-bold">Manufacturer:</span> AUGUST
                    <br />
                    <span class="font-weight-bold">Weight:</span> 1000g
                </p>
                <div class="text-center">
                    <h5>$ 31.0</h5>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3 col-10 col-xl-4 col-md-6 col-lg-4" style="max-width: 19rem;">
            <div class="card-body">
                <div class="text-center img-thumbnail d-flex align-items-center justify-content-center mb-2" style="height: 245px;">
                    <img src="https://calorizator.ru/sites/default/files/imagecache/product_512/product/buckwheat-agro-al-1.jpg" class="img-fluid mb-1" alt="Alternate Text" style="max-height: 240px;" />
                </div>
                <h4 class="card-title">ГРЕЧНИЕВАЯ КРУПА</h4>
                <p class="card-text">
                    <span class="font-weight-bold">Manufacturer:</span> EXTRA
                    <br />
                    <span class="font-weight-bold">Weight:</span> 600g
                </p>
                <div class="text-center">
                    <h5>$ 38.0</h5>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3 col-10 col-xl-4 col-md-6 col-lg-4" style="max-width: 19rem;">
            <div class="card-body">
                <div class="text-center img-thumbnail d-flex align-items-center justify-content-center mb-2" style="height: 245px;">
                    <img src="https://irecommend.ru/sites/default/files/product-images/1949/grechka-prem.jpg" class="img-fluid mb-1" alt="Alternate Text" style="max-height: 240px;" />
                </div>
                <h4 class="card-title">ЗЕЛЕНАЯ ГРЕЧКА</h4>
                <p class="card-text">
                    <span class="font-weight-bold">Manufacturer:</span> BEBI
                    <br />
                    <span class="font-weight-bold">Weight:</span> 750g
                </p>
                <div class="text-center">
                    <h5>$ 29.0</h5>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3 col-10 col-xl-4 col-md-6 col-lg-4" style="max-width: 19rem;">
            <div class="card-body">
                <div class="text-center img-thumbnail d-flex align-items-center justify-content-center mb-2" style="height: 245px;">
                    <img src="https://img3.zakaz.ua/zakaz-HP-630-Notebook-PC.1405853235.ad72436478c_2014-07-23_Vitaliy/zakaz-HP-630-Notebook-PC.1405853235.SNB4C4B9.obj.0.5.jpg.oe.jpg.pf.jpg.1350nowm.jpg.1350x.jpg" class="img-fluid mb-1" alt="Alternate Text" style="max-height: 240px;" />
                </div>
                <h4 class="card-title">ГРЕЧКА</h4>
                <p class="card-text">
                    <span class="font-weight-bold">Manufacturer:</span> AUGUST
                    <br />
                    <span class="font-weight-bold">Weight:</span> 450g
                </p>
                <div class="text-center">
                    <h5>$ 51.0</h5>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3 col-10 col-xl-4 col-md-6 col-lg-4" style="max-width: 19rem;">
            <div class="card-body">
                <div class="text-center img-thumbnail d-flex align-items-center justify-content-center mb-2" style="height: 245px;">
                    <img src="https://i.pinimg.com/originals/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg" class="img-fluid mb-1" alt="Alternate Text" style="max-height: 240px;" />
                </div>
                <h4 class="card-title">КРУПА ГРЕЧАНА</h4>
                <p class="card-text">
                    <span class="font-weight-bold">Manufacturer:</span> TORCH
                    <br />
                    <span class="font-weight-bold">Weight:</span> 450g
                </p>
                <div class="text-center">
                    <h5>$ 53.0</h5>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                </div>
            </div>
        </div>
    </div>
</div>
