@* Breadcrumb *@
<div>
    <ol class="breadcrumb mb-0 pb-2">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
    <hr class="mt-0" />
</div>
@* Product List *@
<div class="">
    <div class="text-center">
        <h2>Products</h2>
    </div>
</div>
